@import './normalize/_normalize';

html {
  box-sizing: border-box !important;
}

html {
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit !important;
}
